* {
    padding: 0;
    margin: 0;
}

/* Grid-mobile */

.grid-layout {
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 1.2fr 10fr 1fr;
    grid-template-areas: 
    "nav nav"
    "header header"
    "main main"
    "footer footer"
    ;
}

/* menu de navegacion */

nav {
    grid-area: nav;
    display: flex;
    padding: 10px;
    background-color: rgb(64, 1, 40);
    justify-content: space-between;
    color: white;
}

nav img {
    width: 30px;
    color: white;
}

.sportcars {
    display: flex;
    justify-content: center;
}

.sportcars h6 {
    padding: 5px;
    font-size: 1.2rem;
}
/* Barra ordenar por */

header {
    grid-area: header;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(196, 196, 196);
}

/* Grila de imagenes */

main {
    grid-area: main;
    padding-top: 10px;
    padding-bottom: 10px;
}

.card-container {
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 10px;
}


.card-container .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: fit-content;
}

.card-container .card img {
    width: 400px;
}

/* pie de pagina */

footer {
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(54, 54, 54);
    color: white;
}

